/*====================== filters ======================*/
.filters {
    position: absolute;
    display: flex;
    gap: width(20);
}
.filter {
    position: relative;
    min-width: width(170);
    max-width: width(667);
    height: width(69);
    min-height: width(69);
    outline: none;
    border: none;
    border-radius: width(5);
    &.ingredients {
        background-color: $clr-blue;
    }
    &.appliances {
        background-color: $clr-green;
    }
    &.ustensils {
        background-color: $clr-orangered;
    }
    &-label {
        cursor: pointer;
        span {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            font-size: size(18);
            color: $clr-white;
            font-family: 'Lato';
            font-weight: 700;
            height: 100%;
            width: 100%;
            padding-block: width(23) width(22);
            padding-left: width(23);
        }
        img {
            position: absolute;
            z-index: 1;
            top: width(29.45);
            right: width(18);
            width: width(16);
            height: width(9.89);
            transition: transform .5s;
        }
    }
    &-input {
        display: block;
        width: width(170);
        max-width: 65%;
        height: width(22);
        font-size: size(18);
        font-family: 'Lato';
        font-weight: 700;
        opacity: 0;
        border: 0;
        outline: 0;
        margin: width(23) auto width(24) width(22);
        color: $clr-white;
        background-color: transparent;
        &::placeholder {
            color: $clr-white;
            opacity: 0.5;
        }
    }
    &.is-open {
        height: min-content;
        .filter-input {
            width: auto;
            z-index: 1;
            max-width: min-content;
            padding-right: width(50);
            opacity: 1;
        }
        .filter-label {
            z-index: -10;
            span {
                display: none;
            }
            img {
                transform: rotate(180deg);
            }
        }
        .list {
            display: flex;
        }
        
    }

    .list {
        display: none;
        list-style: none;
        flex-wrap: wrap;
        padding: width(16) width(19);
        row-gap: width(10);
        overflow-y: auto;
        max-height: 32.04vh;
        min-height: width(56);
        li {
            cursor: pointer;
            color: $clr-white;
            width: width(209.6);
            font-family: 'Lato';
            font-weight: 400;
            font-size: size(18);
            transition: all .2s;
        }
        li:hover {
            font-weight: 700;
            text-shadow: 
                width(-1) width(-1) 0 rgba(255, 255, 255, 0.3), 
                width(3) 0 rgba(255, 255, 255, 0.2), 
                width(6) width(6) 0 rgba(255, 255, 255, 0.1);
        }
    }

}