/*====================== search ======================*/
.search-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
	background-color: $clr-grey;
    gap: 5px;
	border-radius: 5px;
	font-family: 'Lato';
    padding: width(24);
    height: width(69);
    margin-bottom: width(20);

}
.search {
    &-label {
        display: contents;
        cursor: pointer;
        &__magnifying-glass {
            position: absolute;
            width: width(32);
            height: width(32);
        }
    }
    &-input {
        font-size: size(18);
        font-family: 'Lato';
        font-weight: 400;
        color: $clr-black;
        background-color: transparent;
        outline: none;
        border: none;
        width: 100%;
        height: width(22);
        &::placeholder {
            opacity: 0.25;
        }
    }
}
