/*====================== reset ======================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: preciseWidth(25) preciseWidth(100);
    font-family: 'DM Sans';
}