/*====================== reset ======================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: preciseWidth(25) preciseWidth(100);
    font-family: 'DM Sans';
}