//====================== tablet ======================//
@media screen and ( max-width: 768px) {
    :root {
        --ratio-size: 1.5;
        --ratio-width: 1.5;
    }
    .card-details__ingredients, .card-details__description {
        font-size: size(13);
    }
}