//====================== functions ======================//
@function preciseWidth($width) {
    $newWidth: calc($res-width * $width );
    @return $newWidth;
}
@function width($width) {
    $newWidth: calc($res-width * $width * $ratio-width);
    @return $newWidth;
}
@function height($height) {
    $newHeight: calc($res-height * $height);
    @return $newHeight;
}
@function size($size) {
    $newSize: calc($res-width * $size * $ratio-size);
    @return $newSize;
}