/*====================== variables ======================*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato&display=swap");
:root {
  --clr-red: #D04F4F;
  --clr-grey: #e7e7e7;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-blue: #3282F7;
  --clr-green: #68D9A4;
  --clr-orangered: #ED6454;
  --res-width: calc(100vw/1440);
  --res-height: calc(100vh/1024);
  --ratio-size: 1;
  --ratio-width: 1;
}

/*|||||||||||||||||||||| BASE ||||||||||||||||||||||*/
/*====================== typography ======================*/ /*====================== reset ======================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: calc(var(--res-width) * 25 * var(--ratio-width)) calc(var(--res-width) * 100 * var(--ratio-width));
  font-family: "DM Sans";
}

/*|||||||||||||||||||||| COMPONENTS ||||||||||||||||||||||*/
/*====================== search ======================*/
.search-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: var(--clr-grey);
  gap: 5px;
  border-radius: 5px;
  font-family: "Lato";
  padding: calc(var(--res-width) * 24 * var(--ratio-width));
  height: calc(var(--res-width) * 69 * var(--ratio-width));
  margin-bottom: calc(var(--res-width) * 20 * var(--ratio-width));
}

.search-label {
  display: contents;
  cursor: pointer;
}
.search-label__magnifying-glass {
  position: absolute;
  width: calc(var(--res-width) * 32 * var(--ratio-width));
  height: calc(var(--res-width) * 32 * var(--ratio-width));
}
.search-input {
  font-size: calc(var(--res-width) * 18 * var(--ratio-size));
  font-family: "Lato";
  font-weight: 400;
  color: var(--clr-black);
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: calc(var(--res-width) * 22 * var(--ratio-width));
}
.search-input::placeholder {
  opacity: 0.25;
}

/*====================== tags ======================*/
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--res-width) * 15 * var(--ratio-width)) calc(var(--res-width) * 15 * var(--ratio-width));
  margin-top: calc(var(--res-width) * 5 * var(--ratio-width));
  margin-bottom: calc(var(--res-width) * 15 * var(--ratio-width));
}

.tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--res-width) * 13 * var(--ratio-width));
  color: var(--clr-white);
  font-family: "Lato";
  font-weight: 700;
  padding: calc(var(--res-width) * 8 * var(--ratio-width)) calc(var(--res-width) * 21 * var(--ratio-width));
  border-radius: calc(var(--res-width) * 5 * var(--ratio-width));
}
.tag span {
  font-size: calc(var(--res-width) * 14 * var(--ratio-size));
  font-weight: 700;
}
.tag.ingredient {
  background-color: var(--clr-blue);
}
.tag.appliance {
  background-color: var(--clr-green);
}
.tag.ustensil {
  background-color: var(--clr-orangered);
}
.tag-remove {
  display: contents;
  border: none;
  outline: none;
  cursor: pointer;
}
.tag-remove, .tag-remove__icon {
  width: calc(var(--res-width) * 20 * var(--ratio-width));
  height: calc(var(--res-width) * 20 * var(--ratio-width));
}

/*|||||||||||||||||||||| LAYOUTS ||||||||||||||||||||||*/
/*====================== header ======================*/
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--res-width) * 268 * var(--ratio-width));
  margin: calc(var(--res-width) * 17 * var(--ratio-width)) auto;
}
.header-title h1 {
  color: var(--clr-red);
  font-size: calc(var(--res-width) * 36 * var(--ratio-size));
  font-weight: 700;
}

.logo {
  width: calc(var(--res-width) * 50.48 * var(--ratio-width));
}

/*# sourceMappingURL=style.css.map */
